{% extends "base_generic.html" %}

{% block title %}<title>TCG RANKS - Future Work</title>{% endblock %}

{% block nav_future %}
class="current"
{% endblock %}

{% block content %}
  <header>
    <h2>Future Work</h2>
    <p>What you can look forward to in the next updates of TCG Ranks</p>
  </header>
  <ul>
    <li> Upload Page </li>
      <li> File Parsers </li>
      <li> My Site Implementation: User View and Edit page -> Detail Pages</li>
      <li> other Pages like about and how to get an Account </li>
      <li> Cookie Warning </li>
      <hr>
      <li> Server aufsetzen </li>
      <hr>
      <li> User Register Function </li>
      <li> Custom Upload File Format </li>
  </ul>
{% endblock %}