{% extends "base_generic.html" %}

{% block title %}<title>TCG RANKS - Future Work</title>{% endblock %}

{% block nav_future %}
class="current"
{% endblock %}

{% block content %}
  <header>
    <h2>Future Work</h2>
    <p>What you can look forward to in the next updates of TCG Ranks</p>
  </header>
  <ul>
      <li> Upload Page </li>
      <li> File Parsers </li>
      <li> My Site Implementation: User View and Edit page -> Detail Pages </li>
      <li> Site Ranking Page with table of scores - only visible to click format, if there is actually data in it </li>
      <li> After Upload and After Actions (like delete one tournament), the current scores have to be recalculated </li>
      <li> other Pages like about and how to get an Account </li>
      <li> Cookie Warning </li>
      <hr>
      <li> Server aufsetzen </li>
      <hr>
      <li> User Register </li>
      <li> Pro Users </li>
      <li> My Site Implementation: Game And Format - Edit for Pro Users </li>
      <li> Custom Upload File Format </li>
  </ul>
<hr>
<hr>
    <h3>
        Done:
    </h3>
    <ul>
        <li> Change Password </li>
        <li> Fancy Template </li>
    </ul>
<hr>
<p>
    If you want new Games/Formats added ... <- make help page for that
</p>
{% endblock %}